* {
	padding:0;
	margin:0;
}

body {
	
	width: 60vw;
	margin-left: 20vw;
	font-size: 2vmin;

	background:#404040;
	color:#efe;
	font-family: Arial, sans-serif;
}

a {
	color:#ace;
	text-decoration:none;
}

img {
	border:0;
}


button {
	border-color:#666;
	background-color:#888;
}

/* button[disabled]:active, button[disabled] { */
button.active, button:active {
	border-color:#404040;
	border-style:inset;
	background-color:#4d4d4d;
}


h1,h2,div.make_go {
	margin: 1.5vmin 0 .75vmin;
	text-align: center;
	clear: both;
}


footer {
	margin:.25vmin auto;
	border-top: 1px dotted #888;
	text-align:center;
	color:#888;
}

#readme {
	white-space: break-spaces;
}

/* meterbox, essentially unchanged. */

div#meter_template {
	display: none;
}

div.meter_container {
	position: relative;
	left: 50%;
	float: left;
}

div#meterbox {
	   position: relative;
   left: -50%;
   float: left;
}

div.meter {
	width:37px;
	height:210px;
	float:left;
	position:relative;
	background-color: #4d4d4d;
}

div.meter img {
	position:absolute;
	bottom:0;
	left:0;
	z-index:100;
}

div.meterscale {
	position:absolute;
	bottom:5px;
	left:0;
	width:30px;
	background: red;
	z-index:50;
}

div.meterpeak {
	position:absolute;
	left:0;
	height:1px;
	width:30px;
	background: yellow;
	z-index:60;
}

