Source: jack-peak
Section: sound
Priority: optional
Maintainer: Robin Gareus <robin@gareus.org>
Build-Depends: debhelper (>= 8),
 libjack-dev | libjack-jackd2-dev
Homepage: http://gareus.org/oss/jack_peak/
Standards-Version: 3.9.2

Package: jack-peak
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: utility to print live audio peak data
 A simple command-line utility to capture live audio
 from JACK, calculate peaks and writes the information
 to file or standard-output as text or JSON.
